<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather Journal App</title>
</head>

<body>
  <div class="grid__container">
    <main class="page__main">
      <div class="top__main">
        <a href="index.html" class="home__link">Return to Website</a>
        <h1 class="heading__top">Weather Journal App</h1>
        <div class="zipcode">
          <label for="zip" class="label">Enter Zip code here</label>
          <input type="text" id="zip" placeholder="Type in here" class="input">
        </div>
        <div class="feeling">
          <label for="feeling" class="label">And how are you feeling?</label>
          <textarea type="text" id="feeling" placeholder="Open your heart" class="input"></textarea>
        </div>
        <button id="generate" class="button" type="submit">Generate</button>
      </div>
      <div class="low__main" id="entryHolder">
        <h2 class="heading__bottom">Result</h2>
        <div class="date" id="date">
          <ul id="date_list" class="list"></ul>
        </div>
        <div class="temperature" id="temp">
          <ul id="temperature_list" class="list"></ul>
        </div>
        <div class="content" id="content">
          <ul id="content_list" class="list"></ul>
        </div>
      </div>
    </main>
  </div>
</body>

</html>