<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
</head>

<body>
  <h1>About me</h1>
  <footer class="footer">
    <h2 class="footer__heading">Add me!</h2>
    <p><a aria-label="Add me on GitHub" href="https://github.com/bruno-gurgel" class="footer__link"
        target="_blank">Github</a></p>
    <p><a aria-label="Add me on Linkedin" href="https://www.linkedin.com/in/bruno-gurgel/" class="footer__link"
        target="_blank">Linkedin</a></p>
    <p class="footer__email">E-mail: bmg1612@gmail.com</p>
  </footer>
</body>

</html>