<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Bruno Gurgel</title>
</head>

<body>
  <a href="#main-content" class="skip__link">Skip to main content</a>
  <div class="grid">
    <nav class="nav">
      <ul class="nav__list">
        <li class="--home"><a href="index.html" class="nav__item">Home</a></li>
        <li class="--about"><a href="./about.html" class="nav__item --about">About</a></li>
      </ul>
    </nav>
    <main class="main">
      <section class="banner">
        <h1 class="banner__heading">Front-end developer <span class="banner__passionate">passionate</span> about
          simplicity
          (<span class="banner__underlined">& JavaScript</span>).</h1>
        <h2 class="banner__intro">Here are my projects:</h2>
      </section>
      <section class="projects">
        <figure class="projects__figure --travel" data-submenu="Travel App">
          <h3 class="projects__heading">Travel App</h3>
          <img src="" alt="" class="projects__image" id="travel-fend" />
          <figcaption class="figcaption">
            <p class="projects__text">Travel app where you insert a place and a date and receive the
              temperature for that
              period.</p>
            <a href="https://github.com/Bruno-Gurgel/FEND-Capstone--Travel_app" class="projects__repo button"
              target="_blank">Repository</a>
            <a href="#" class="projects__button button" target="_blank">Visit Project ></a>
          </figcaption>
        </figure>
        <figure class="projects__figure --npl" data-submenu="News Analyzer with NPL">
          <h3 class="projects__heading">News Analyzer with NPL</h3>
          <img src="" alt="" class="projects__image" id="news-fend" />
          <figcaption class="figcaption">
            <p class="projects__text">News article analyzer where you enter a story and the NPL api scans it to check
              the sentiment.</p>
            <a href="https://github.com/Bruno-Gurgel/News-article-with-NPL" class="projects__repo button"
              target="_blank">Repository</a>
            <a href="#" class="projects__button button" target="_blank">Visit Project ></a>
          </figcaption>
        </figure>
        <figure class="projects__figure --weather" data-submenu="Weather App">
          <h3 class="projects__heading">Weather App</h3>
          <img src="" alt="" class="projects__image" id="weather-fend" />
          <figcaption class="figcaption">
            <p class="projects__text">Weather app where you insert a Zip Code and receives the temperature for that
              location.</p>
            <a href="https://github.com/Bruno-Gurgel/weather_app" class="projects__repo button"
              target="_blank">Repository</a>
            <a href="#" class="projects__button button" target="_blank">Visit Project ></a>
          </figcaption>
        </figure>
        <figure class="projects__figure --landing" data-submenu="Landing Page">
          <h3 class="projects__heading">Landing Page</h3>
          <img src="" alt="" class="projects__image" id="landing-page-fend" />
          <figcaption class="figcaption">
            <p class="projects__text">Landing page with dinamically created Navbar to sell your products/services.</p>
            <a href="https://github.com/Bruno-Gurgel/landing_page" class="projects__repo button"
              target="_blank">Repository</a>
            <a href="#" class="projects__button button" target="_blank">Visit Project ></a>
          </figcaption>
        </figure>
        <figure class="projects__figure --blog" data-submenu="Blog">
          <h3 class="projects__heading">Blog</h3>
          <img src="" alt="" class="projects__image" id="blog-fend" />
          <figcaption class="figcaption">
            <p class="projects__text">Beautiful and simple blog example.</p>
            <a href="https://github.com/Bruno-Gurgel/blog" class="projects__repo button" target="_blank">Repository</a>
            <a href="#" class="projects__button button" target="_blank">Visit Project ></a>
          </figcaption>
        </figure>
      </section>
    </main>
    <footer class="footer">
      <h2 class="footer__heading">Add me!</h2>
      <p><a aria-label="Add me on GitHub" href="https://github.com/bruno-gurgel" class="footer__link"
          target="_blank">Github</a></p>
      <p><a aria-label="Add me on Linkedin" href="https://www.linkedin.com/in/bruno-gurgel/" class="footer__link"
          target="_blank">Linkedin</a></p>
      <p class="footer__email">E-mail: bmg1612@gmail.com</p>
    </footer>
  </div>
</body>

</html>