<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Bruno Gurgel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<body>
  <a href="#main-content" class="skip-link">Skip to main content</a>
  <div class="grid-container">
    <nav>
      <ul>
        <li class="logo">Blog Template</li>
        <li>Projects</li>
        <li>About me</li>
      </ul>
    </nav>
    <main>
      <div role="banner" class="banner">
        <h1 class="hd-feat-post">What am I?</h1>
      </div>
      <article>
        <img src="" alt="" />
        <a href="">
          <h2>Project name</h2>
          <p>Brief description of the project</p>
        </a>
      </article>
      <article>
        <img src="" alt="" />
        <a href="">
          <h2>Project name</h2>
          <p>Brief description of the project</p>
        </a>
      </article>
      <article>
        <img src="" alt="" />
        <a href="">
          <h2>Project name</h2>
          <p>Brief description of the project</p>
        </a>
      </article>
      <article>
        <img src="" alt="" />
        <a href="">
          <h2>Project name</h2>
          <p>Brief description of the project</p>
        </a>
      </article>
      <article>
        <img src="" alt="" />
        <a href="">
          <h2>Project name</h2>
          <p>Brief description of the project</p>
        </a>
      </article>
      <article>
        <img src="" alt="" />
        <a href="">
          <h2>Project name</h2>
          <p>Brief description of the project</p>
        </a>
      </article>
    </main>
    <footer>
    </footer>
  </div>
</body>

</html>