<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description"
    content="Web developer portfolio. Front end. This is a portfolio to test new features and technologies. Feel free to contact me. Email on the page." />
  <title>Bruno Gurgel</title>
</head>

<body>
  <a href="#first-content" class="skip__link">Skip to main content</a>
  <div class="grid">
    <nav class="nav">
      <ul class="nav__list">
        <li class="--home"><a href="index.html" class="nav__item">Home</a></li>
        <li class="--about"><a href="./about.html" class="nav__item --about">About</a></li>
      </ul>
    </nav>
    <main class="main">
      <section class="banner">
        <h1 class="banner__heading">Front-end developer <span class="banner__passionate">passionate</span> about
          simplicity
          (<span class="banner__underlined">& JavaScript</span>).</h1>
        <h2 class="banner__intro">Here are my projects:</h2>
      </section>
      <section class="projects">
        <figure class="projects__figure --travel" id="first-content" data-submenu="Travel App"
          aria-label="Project Travel App" tabindex="0">
          <h3 class="projects__heading">Travel App</h3>
          <img src="" alt="" class="projects__image" id="travel-fend" />
          <figcaption class="figcaption">
            <p class="projects__text">Travel app where you insert a place and a date and receive the
              temperature for that
              period.</p>
            <a href="https://github.com/bruno-gurgel/FEND-Capstone--Travel_app" class="projects__repo button"
              target="_blank" aria-label="Button with a link to visit the project's repository">Repository</a>
            <a href="#" class="projects__button button" target="_blank"
              aria-label="Button with a link to visit the project">Visit Project ></a>
          </figcaption>
        </figure>
        <figure class="projects__figure --npl" data-submenu="News Analyzer with NPL" aria-label="Project News Analyzer"
          tabindex="0">
          <h3 class="projects__heading">News Analyzer</h3>
          <img src="" alt="" class="projects__image" id="news-fend" />
          <figcaption class="figcaption">
            <p class="projects__text">News article analyzer where you enter a story and the NPL api scans it to check
              the sentiment.</p>
            <a href="https://github.com/bruno-gurgel/News-article-with-NPL" class="projects__repo button"
              target="_blank" aria-label="Button with a link to visit the project's repository">Repository</a>
            <a href="#" class="projects__button button" target="_blank"
              aria-label="Button with a link to visit the project">Visit Project ></a>
          </figcaption>
        </figure>
        <figure class="projects__figure --weather" data-submenu="Weather App" aria-label="Project Weather App"
          tabindex="0">
          <h3 class="projects__heading">Weather App</h3>
          <img src="" alt="" class="projects__image" id="weather-fend" />
          <figcaption class="figcaption">
            <p class="projects__text">Weather app where you insert a Zip Code and receives the temperature for that
              location.</p>
            <a href="https://github.com/bruno-gurgel/weather_app" class="projects__repo button" target="_blank"
              aria-label="Button with a link to visit the project's repository">Repository</a>
            <a href="weatherApp.html" class="projects__button button"
              aria-label="Button with a link to visit the project">Visit Project ></a>
          </figcaption>
        </figure>
        <figure class="projects__figure --landing" data-submenu="Landing Page" aria-label="Project Landing Page"
          tabindex="0">
          <h3 class="projects__heading">Landing Page</h3>
          <img src="" alt="" class="projects__image" id="landing-page-fend" />
          <figcaption class="figcaption">
            <p class="projects__text">Landing page with dinamically created Navbar to sell your products/services.</p>
            <a href="https://github.com/bruno-gurgel/landing_page" class="projects__repo button" target="_blank"
              aria-label="Button with a link to visit the project's repository">Repository</a>
            <a href="./landingPage.html" class="projects__button button"
              aria-label="Button with a link to visit the project">Visit Project ></a>
          </figcaption>
        </figure>
        <figure class="projects__figure --blog" data-submenu="Blog" aria-label="Project Blog Template" tabindex="0">
          <h3 class="projects__heading">Blog Template</h3>
          <img src="" alt="" class="projects__image" id="blog-fend" />
          <figcaption class="figcaption">
            <p class="projects__text">Beautiful and simple blog example with about page and blog post.</p>
            <a href="https://github.com/bruno-gurgel/blog" class="projects__repo button" target="_blank"
              aria-label="Button with a link to visit the project's repository">Repository</a>
            <a href="./blog.html" class="projects__button button"
              aria-label="Button with a link to visit the project">Visit Project ></a>
          </figcaption>
        </figure>
      </section>
    </main>
    <footer class="footer">
      <h2 class="footer__heading">Add me!</h2>
      <p><a aria-label="Add me on GitHub" href="https://github.com/bruno-gurgel" class="footer__link"
          target="_blank">Github</a></p>
      <p><a aria-label="Add me on Linkedin" href="https://www.linkedin.com/in/bruno-gurgel/" class="footer__link"
          target="_blank">Linkedin</a></p>
      <p><a href="mailto:bmg1612@gmail.com" class="footer__email footer__link">E-mail: bmg1612@gmail.com</a></p>
    </footer>
  </div>
</body>

</html>