/* Importing responsive layouts */
@import './small_phone.css' (max-width: 320px);
@import './phone.css' (min-width: 321px) and (max-width: 599px);
@import './tablet.css' (min-width: 600px) and (max-width: 900px);
@import './desktop.css' (min-width: 901px);

/* Universal code */
html {
  font-family: 'Indie Flower', cursive;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #1f2932;
}

body {
  padding: 0px;
  margin: 0px;
}

.focus:focus {
  background: #ff6666;
  text-decoration: underline;
}

.skip-link {
  top: -50px;
  position: absolute;
  background-color: #ff0000;
  left: 0px;
  color: #ffffff;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.nav-top {
  background: #11161a;
  padding: 0 15px;
  grid-area: hd;
}

.link-nav {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 2px;
  width: 100%;
  display: block;
  padding: 15px 5px;
  font-weight: bold;
}

.link-nav:hover {
  color: #ccc;
}

.logo {
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 6px 10px 0px 0;
}

.item {
  padding: 0px 10px;
}

.footer {
  grid-area: ft;
  background-color: #2e3d49;
  text-align: center;
  color: #ffffff;
  letter-spacing: 2px;
}

.subscribe-ft {
  text-align: center;
}

.label-email {
  letter-spacing: 0px;
}

/* Home page */
figcaption {
  font-size: 1rem;
  float: right;
}

.article-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  transition: 0.3s;
  background-color: #c8cdd2;
  text-align: center;
  margin: 20px 0;
}

.blog-img {
  width: 100%;
  border-radius: 25px;
}

.article-link {
  text-decoration: none;
}

.post-title {
  color: #34383c;
}

.blog-txt {
  color: #242a2f;
}

/* 'About' page */
.about-main {
  display: inline-block;
  color: #b4b9bd;
  margin: 0 10px;
  text-align: center;
}

.hdn-center {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
}

.about-ls {
  display: inline-block;
}

.about-link {
  color: #53cbed;
}

/* Blog post page */
.heading {
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  color: #dcbff3;
  font-weight: bold;
}

.month-list {
  list-style-type: upper-roman;
}

.month {
  color: #ffffff;
}

.author-post {
  padding: 0px;
  border-bottom: 2px dotted #ffffff;
  margin-left: 5px;
}

.img {
  width: 10%;
  border-radius: 50%;
  margin: 0px;
  padding: 0px;
}

.author-info {
  margin: 0px;
  padding: 0px;
  color: #b4b9bd;
}

.author-description {
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  color: #b4b9bd;
}

.rel-post-link {
  color: #ffffff;
}

.social-media {
  border-top: 2px inset #ffffff;
  border-bottom: 2px inset #ffffff;
}

.little-heading {
  text-align: center;
  color: #dcbff3;
  text-decoration: underline;
  font-weight: bold;
}

.social-list {
  list-style-type: square;
}

.social-items {
  text-decoration: none;
  color: #ffffff;
}
