<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Personal Blog Website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <a href="#main-content" class="skip-link">Skip to main content</a>
  <!-- Grid -->
  <div class="grid-container-post">
    <!--Flexbox menu-->
    <header class="nav-top">
      <ul class="menu">
        <li><a href="blog.html" class="link-nav focus">Blog Template</a></li>
        <li class="item home-link">
          <a class="link-nav focus" href="index.html">Return to Website</a>
        </li>
        <li class="item">
          <a class="link-nav focus" href="./aboutBlog.html">About</a>
        </li>
      </ul>
    </header>
    <!--Nested grid content-->
    <main class="nested-grid">
      <article class="blog-article">
        <h1 class="heading" id="main-content" tabindex="-1">Blog post title</h1>
        <div class="author-post">
          <picture>
            <source srcset="" alt="Avatar" type="image/webp" class="avatar-img--webp">
            <img src="" alt="Avatar" class="avatar-img--fallback">
          </picture>
          <h2 class="author-info">Name of the author</h2>
          <h3 class="author-info">Title</h3>
          <h4 class="author-info">Current company/school</h4>
          <p class="author-description">Brief description of the author</p>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed turpis magna. Vivamus pellentesque
          nulla convallis nibh ultricies porttitor nec nec lorem. Nullam tempus nulla at tincidunt
          ullamcorper. Integer et metus odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia curae; Quisque sit amet sodales eros, luctus pretium massa. Nullam dui mauris,
          aliquam eget varius a, imperdiet et orci. Phasellus aliquam id justo at pretium. Aliquam fringilla,
          urna id mollis pretium, arcu nunc semper ipsum, et lobortis felis arcu vitae ipsum. Vivamus feugiat
          justo in massa efficitur, a consectetur odio pharetra. Curabitur pulvinar eu turpis non mollis.
          Curabitur aliquam dolor vitae tortor blandit varius.
        </p>
        <p>
          Pellentesque vel ligula tempus, tincidunt nibh vel, feugiat metus. Curabitur sollicitudin varius
          ligula. Pellentesque bibendum facilisis velit sit amet auctor. Mauris vulputate luctus ullamcorper.
          Nulla facilisi. Maecenas condimentum lectus scelerisque sem bibendum mollis. Nulla semper vehicula
          lobortis. Vestibulum scelerisque erat non tortor dignissim pulvinar. Donec consequat eros urna, a
          feugiat nibh malesuada eu. Fusce pretium, tortor porta porttitor suscipit, felis eros bibendum
          felis, nec malesuada velit est a tortor. Quisque placerat felis nec metus egestas fermentum. Ut id
          nunc luctus, imperdiet metus at, mollis est.
        </p>
        <blockquote cite="https://www.lipsum.com/">
          <i> dictum ut nunc sed cursus. Morbi ac turpis fermentum, fringilla augue vel, efficitur elit.
            Nullam ut odio nec ante finibus tristique sed ac ligula. Phasellus dapibus at quam dictum
            convallis.
            Nullam malesuada augue nec magna pulvinar, auctor volutpat tellus imperdiet. Lorem ipsum dolor
            sit
            amet, consectetur adipiscing elit. Pellentesque et lectus molestie, dignissim neque quis, semper
            leo. In vitae quam ut lacus aliquet varius vitae ac ligula. Etiam volutpat lobortis lectus nec
            pulvinar. Proin sit amet velit id felis consectetur rhoncus.</i>
        </blockquote>
        <p>
          Mauris aliquet mi nec lorem commodo ullamcorper. Donec hendrerit magna nec mi fringilla rutrum.
          Integer eleifend sem a nisi varius, non suscipit turpis pulvinar. Sed magna libero, euismod sit amet
          lacus sit amet, porta convallis augue. Sed eu est rutrum, rutrum turpis ac, porta dui. Maecenas
          ultrices, dui sit amet euismod dapibus, mauris sem egestas urna, in sagittis libero lacus ut ante.
          Donec aliquet tortor in interdum sagittis. Mauris sed tincidunt nibh. Praesent eget tortor placerat,
          commodo nunc semper, rhoncus ipsum. Fusce tincidunt scelerisque ex. Fusce sem neque, pellentesque
          porttitor dictum nec, suscipit ac augue. Sed placerat nibh eget leo sodales rutrum. Nam ut faucibus
          elit, nec efficitur diam. Cras consectetur nulla id nisi luctus dapibus. Cras pretium diam sed
          mollis tempor. Etiam odio enim, ultricies non arcu vel, feugiat finibus est.
        </p>
        <ul>
          <h2 class="little-heading">Related posts</h2>
          <li><a class="rel-post-link" href="blog-post.html">Lorem ipsu</a></li>
          <li><a class="rel-post-link" href="blog-post.html">Mauris dictum</a></li>
          <li><a class="rel-post-link" href="blog-post.html">Nullam tempus</a></li>
        </ul>
      </article>
      <div class="blog-aside">
        <h1 class="heading" aria-label="Recent posts by month" tabindex="0" aria-label="Recent posts by month">
          Recent posts</h1>
        <ul class="month-list">
          <li><a class="month focus" href="#">January</a></li>
          <li><a class="month focus" href="#">February</a></li>
          <li><a class="month focus" href="#">March</a></li>
          <li><a class="month focus" href="#">April</a></li>
          <li><a class="month focus" href="#">May</a></li>
          <li><a class="month focus" href="#">June</a></li>
          <li><a class="month focus" href="#">July</a></li>
          <li><a class="month focus" href="#">August</a></li>
          <li><a class="month focus" href="#">September</a></li>
          <li><a class="month focus" href="#">October</a></li>
          <li><a class="month focus" href="#">November</a></li>
          <li><a class="month focus" href="#">December</a></li>
        </ul>
        <section class="social-media">
          <h2 class="little-heading" tabindex="0" aria-label="Follow us on social media">Follow us</h2>
          <ul class="social-list">
            <li><a class="social-items focus" href="https://github.com/">GitHub</a></li>
            <li><a class="social-items focus" href="https://twitter.com/">Twitter</a></li>
            <li><a class="social-items focus" href="https://www.facebook.com/">Facebook</a></li>
            <li><a class="social-items focus" href="https://www.linkedin.com/">Linkedin</a></li>
          </ul>
        </section>
      </div>
    </main>
    <footer class="footer">
      <h1>Contact</h1>
      <form class="newsletter" method="POST">
        <h2 aria-owns="label-email text" class="subscribe-ft">Subscribe to our newsletter</h2>
        <label class="label-email" for="text">Enter your email:</label>
        <input type="email" id="text" name="E-mail" class="focus">
        <input type="submit" id="send" aria-label="Submit" value="Submit" class="focus">
      </form>
    </footer>
  </div>
</body>

</html>