<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Personal Blog Website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<body>
  <a href="#main-content" class="skip-link">Skip to main content</a>
  <!-- Grid -->
  <div class="grid-container">
    <!--Flexbox menu-->
    <header class="nav-top">
      <ul class="menu">
        <li><a href="blog.html" class="logo focus">Blog Template</a></li>
        <li class="item home-link">
          <a class="link-nav focus" href="index.html">Return to Website</a>
        </li>
        <li class="item">
          <a class="link-nav focus" href="./aboutBlog.html">About</a>
        </li>
      </ul>
    </header>
    <div role="banner" class="featured-post">
      <a href="./postBlog.html" class="feat-post-link" aria-label="Featured blog post" id="main-content">
        <h1 class="hd-feat-post">Featured post</h1>
        <h2 class="txt-feat-post">Brief description of the featured post</h2>
        <figcaption>Background image - Stars in the sky</figcaption>
      </a>
    </div>
    <!--Flexbox content-->
    <main class="main-home">
      <article class="article-card">
        <img src="" alt="Blog post" class="blog-img" />
        <a href="./postBlog.html" class="article-link">
          <h2 class="post-title">Blog post</h2>
          <p class="blog-txt">Brief description of the post</p>
        </a>
      </article>
      <article class="article-card">
        <img src="" alt="Blog post" class="blog-img" />
        <a href="./postBlog.html" class="article-link">
          <h2 class="post-title">Blog post</h2>
          <p class="blog-txt">Brief description of the post</p>
        </a>
      </article>
      <article class="article-card">
        <img src="" alt="Blog post" class="blog-img" />
        <a href="./postBlog.html" class="article-link">
          <h2 class="post-title">Blog post</h2>
          <p class="blog-txt">Brief description of the post</p>
        </a>
      </article>
      <article class="article-card">
        <img src="" alt="Blog post" class="blog-img" />
        <a href="./postBlog.html" class="article-link">
          <h2 class="post-title">Blog post</h2>
          <p class="blog-txt">Brief description of the post</p>
        </a>
      </article>
      <article class="article-card">
        <img src="" alt="Blog post" class="blog-img" />
        <a href="./postBlog.html" class="article-link">
          <h2 class="post-title">Blog post</h2>
          <p class="blog-txt">Brief description of the post</p>
        </a>
      </article>
      <article class="article-card">
        <img src="" alt="Blog post" class="blog-img" />
        <a href="./postBlog.html" class="article-link">
          <h2 class="post-title">Blog post</h2>
          <p class="blog-txt">Brief description of the post</p>
        </a>
      </article>
    </main>
    <footer class="footer">
      <h1>Contact</h1>
      <form class="newsletter" method="POST">
        <h2 aria-owns="label-email text" class="subscribe-ft">
          Subscribe to our newsletter
        </h2>
        <label class="label-email" for="text">Enter your email:</label>
        <input type="email" id="text" name="E-mail" class="focus" />
        <input type="submit" id="send" aria-label="Submit" value="Submit" class="focus" />
      </form>
    </footer>
  </div>
</body>

</html>