<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Personal Blog Website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<body>
  <a href="#first-content" class="skip-link">Skip to main content</a>
  <!-- Grid -->
  <div class="grid">
    <!--Flexbox menu-->
    <header class="header">
      <ul class="header__menu">
        <li><a href="blog.html" class="header__link --focus">Blog Template</a></li>
        <li class="header__item --home-link">
          <a class="header__link --focus" href="index.html">Return to Website</a>
        </li>
        <li class="header__item">
          <a class="header__link --focus" href="./aboutBlog.html">About</a>
        </li>
      </ul>
    </header>
    <div role="banner" class="featured-post">
      <a href="./postBlog.html" class="featured-post__link" aria-label="Featured blog post" id="first-content">
        <h1 class="featured-post__heading">Featured post</h1>
        <h2 class="featured-post__description">Brief description of the featured post</h2>
        <figcaption class="featured-post__figcaption">Background image - Stars in the sky</figcaption>
      </a>
    </div>
    <!--Flexbox content-->
    <main class="main--home">
      <article class="main__article-card">
        <picture>
          <source srcset="" alt="Blog post" type="image/webp" class="main__article-img --webp">
          <img src="" alt="Blog post" class="main__article-img --fallback" />
        </picture>
        <a href="./postBlog.html" class="main__article-link">
          <h2 class="main__article-title">Blog post</h2>
          <p class="main__article-description">Brief description of the post</p>
        </a>
      </article>
      <article class="main__article-card">
        <picture>
          <source srcset="" alt="Blog post" type="image/webp" class="main__article-img --webp">
          <img src="" alt="Blog post" class="main__article-img --fallback" />
        </picture>
        <a href="./postBlog.html" class="main__article-link">
          <h2 class="main__article-title">Blog post</h2>
          <p class="main__article-description">Brief description of the post</p>
        </a>
      </article>
      <article class="main__article-card">
        <picture>
          <source srcset="" alt="Blog post" type="image/webp" class="main__article-img --webp">
          <img src="" alt="Blog post" class="main__article-img --fallback" />
        </picture>
        <a href="./postBlog.html" class="main__article-link">
          <h2 class="main__article-title">Blog post</h2>
          <p class="main__article-description">Brief description of the post</p>
        </a>
      </article>
      <article class="main__article-card">
        <picture>
          <source srcset="" alt="Blog post" type="image/webp" class="main__article-img --webp">
          <img src="" alt="Blog post" class="main__article-img --fallback" />
        </picture>
        <a href="./postBlog.html" class="main__article-link">
          <h2 class="main__article-title">Blog post</h2>
          <p class="main__article-description">Brief description of the post</p>
        </a>
      </article>
      <article class="main__article-card">
        <picture>
          <source srcset="" alt="Blog post" type="image/webp" class="main__article-img --webp">
          <img src="" alt="Blog post" class="main__article-img --fallback" />
        </picture>
        <a href="./postBlog.html" class="main__article-link">
          <h2 class="main__article-title">Blog post</h2>
          <p class="main__article-description">Brief description of the post</p>
        </a>
      </article>
      <article class="main__article-card">
        <picture>
          <source srcset="" alt="Blog post" type="image/webp" class="main__article-img --webp">
          <img src="" alt="Blog post" class="main__article-img --fallback" />
        </picture>
        <a href="./postBlog.html" class="main__article-link">
          <h2 class="main__article-title">Blog post</h2>
          <p class="main__article-description">Brief description of the post</p>
        </a>
      </article>
    </main>
    <footer class="footer">
      <h1>Contact</h1>
      <form class="footer__newsletter" method="POST">
        <h2 aria-owns="label-email text" class="footer__subscribe">
          Subscribe to our newsletter
        </h2>
        <label class="footer__label-email" for="text">Enter your email:</label>
        <input type="email" id="text" name="E-mail" class="--focus" />
        <input type="submit" id="send" aria-label="Submit" value="Submit" class="--focus" />
      </form>
    </footer>
  </div>
</body>

</html>