<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing page</title>
</head>

<body>
  <a href="#first__content" class="skip-link">Skip to main content</a>
  <div class="grid">
    <nav class="nav">
      <!--Mobile menu - won't appear on Desktop view-->
      <div class="nav--mobile__menu" onclick="toggleMenu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <ul id="navbar__list" class="nav__list"></ul>
    </nav>
    <div class="banner" role="banner">
      <a href="index.html" class="home__link">Return to Website</a>
      <h1 class="heading__page"><a href="index.html" class="page__heading" id="first__content"> Landing Page </a>
      </h1>
      <div class="banner__center">
        <ul class="banner__motives__list">
          <li class="motives__item">Great motive</li>
          <li class="motives__item">Great motive</li>
          <li class="motives__item">Great motive</li>
          <li class="motives__item">Great motive</li>
        </ul>
        <!--This review will only appear here on Desktop view-->
        <q class="banner__quote"><b>Great review from one of your customers</b><br><br> Lorem ipsum dolor sit
          amet,
          consectetur adipiscing elit. Morbi fermentum metus faucibus lectus
          pharetra dapibus. Suspendisse potenti. Aenean aliquam elementum mi, ac euismod augue. Donec eget
          lacinia ex. Phasellus imperdiet porta orci eget mollis.Sed convallis sollicitudin mauris ac
          tincidunt. Donec bibendum, nulla eget bibendum consectetur, sem nisi aliquam leo, ut pulvinar
          quam nunc eu augue. Pellentesque maximus imperdiet elit a pharetra. Duis lectus mi, aliquam in
          mi quis, aliquam porttitor lacus. Morbi a tincidunt felis.</q>
      </div>
      <button type="button" class="button" id="banner-button">Buy here!</button>
      <p class="main__introduction">Why someone would buy your product? (up to 5 lines)</p>
      <!-- <button type="button" class="page__button" id=buttonContent>More info here!</button> -->
    </div>
    <!--The sections will only appear when the appropriate button is clicked-->
    <main class="main">
      <section id="section1" data-nav="More motives" class="main__section --section__1">
        <h2 class="section__heading">More motives</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum metus faucibus lectus
          pharetra dapibus. Suspendisse potenti. Aenean aliquam elementum mi, ac euismod augue. Donec eget
          lacinia ex. Phasellus imperdiet porta orci eget mollis. Sed convallis sollicitudin mauris ac
          tincidunt. Donec bibendum, nulla eget bibendum consectetur, sem nisi aliquam leo, ut pulvinar
          quam nunc eu augue. Pellentesque maximus imperdiet elit a pharetra. .</p>
        <p>Morbi porttitor auctor enim, sit amet sagittis odio suscipit eu. Vestibulum rutrum mollis dolor,
          non tristique lacus luctus ac. Integer in ipsum eget nisl pellentesque imperdiet ac vel sapien.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In
          mi dui, sagittis in erat id, rutrum efficitur nisi. Fusce varius risus enim, vitae accumsan eros
          tincidunt sit amet.</p>
        <p>Nunc molestie leo non cursus volutpat. Nam aliquam volutpat finibus. Cras rhoncus nec nisl sit
          amet pretium. Nullam scelerisque neque urna. Nam eget volutpat augue, eget lobortis enim. Proin
          hendrerit eu risus sed tempus. Nunc non lacinia sem, nec suscipit arcu. Praesent rutrum urna ut
          justo ornare, ac blandit erat fermentum. Duis sed leo augue. Etiam euismod aliquet eros eu
          gravida.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum metus faucibus lectus
          pharetra dapibus. Suspendisse potenti. Aenean aliquam elementum mi, ac euismod augue. Donec eget
          lacinia ex. Phasellus imperdiet porta orci eget mollis. Sed convallis sollicitudin mauris ac
          tincidunt. Donec bibendum, nulla eget bibendum consectetur, sem nisi aliquam leo, ut pulvinar
          quam nunc eu augue. Pellentesque maximus imperdiet elit a pharetra. Duis lectus mi, aliquam in
          mi quis, aliquam porttitor lacus.</p>
        <p>Morbi porttitor auctor enim, sit amet sagittis odio suscipit eu. Vestibulum rutrum mollis dolor,
          non tristique lacus luctus ac. Integer in ipsum eget nisl pellentesque imperdiet ac vel sapien.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In
          mi dui, sagittis in erat id, rutrum efficitur nisi. Fusce varius risus enim, vitae accumsan eros
          tincidunt sit amet.</p>
      </section>
      <section id="section2" data-nav="Images" class="main__section --section__2">
        <h2 class="section__heading">Images/ Screenshots of your product</h2>
        <picture>
          <source srcset="" alt="Product template" type="image/webp" class="product__image --webp">
          <img src="" alt="Product template" class="product__image --fallback">
        </picture>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum metus faucibus lectus
          pharetra dapibus. Suspendisse potenti. Aenean aliquam elementum mi, ac euismod augue. Donec eget
          lacinia ex. Phasellus imperdiet porta orci eget mollis. Sed convallis sollicitudin mauris ac
          tincidunt.Pellentesque maximus imperdiet elit a pharetra.</p>
        <p>Morbi porttitor auctor enim, sit amet sagittis odio suscipit eu. Vestibulum rutrum mollis dolor,
          non tristique lacus luctus ac. Integer in ipsum eget nisl pellentesque imperdiet ac vel sapien.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In
          mi dui, sagittis in erat id, rutrum efficitur nisi. Fusce varius risus enim, vitae accumsan eros
          tincidunt sit amet.</p>
        <p>Nunc molestie leo non cursus volutpat. Nam aliquam volutpat finibus. Cras rhoncus nec nisl sit
          amet pretium. Nullam scelerisque neque urna. Nam eget volutpat augue, eget lobortis enim. Proin
          hendrerit eu risus sed tempus. Nunc non lacinia sem, nec suscipit arcu. Praesent rutrum urna ut
          justo ornare, ac blandit erat fermentum. Duis sed leo augue. Etiam euismod aliquet eros eu
          gravida.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum metus faucibus lectus
          pharetra dapibus. Suspendisse potenti. Aenean aliquam elementum mi, ac euismod augue. Donec eget
          lacinia ex. Phasellus imperdiet porta orci eget mollis. Sed convallis sollicitudin mauris ac
          tincidunt. Donec bibendum, nulla eget bibendum consectetur, sem nisi aliquam leo, ut pulvinar
          quam nunc eu augue.</p>
        <p>Morbi porttitor auctor enim, sit amet sagittis odio suscipit eu. Vestibulum rutrum mollis dolor,
          non tristique lacus luctus ac. Integer in ipsum eget nisl pellentesque imperdiet ac vel sapien.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In
          mi dui, sagittis in erat id, rutrum efficitur nisi. Fusce varius risus enim, vitae accumsan eros
          tincidunt sit amet.</p>
      </section>
      <section id="section3" data-nav="Reviews" class="main__section --section__3">
        <h2 class="section__heading">Good reviews of your product</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum metus faucibus lectus
          pharetra dapibus. Suspendisse potenti. Aenean aliquam elementum mi, ac euismod augue. Donec eget
          lacinia ex. Phasellus imperdiet porta orci eget mollis. Sed convallis sollicitudin mauris ac
          tincidunt. Donec bibendum, nulla eget bibendum consectetur, sem nisi aliquam leo, ut pulvinar
          quam nunc eu augue.</p>
        <p>Morbi porttitor auctor enim, sit amet sagittis odio suscipit eu. Vestibulum rutrum mollis dolor,
          non tristique lacus luctus ac. Integer in ipsum eget nisl pellentesque imperdiet ac vel sapien.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In
          mi dui, sagittis in erat id, rutrum efficitur nisi. Fusce varius risus enim, vitae accumsan eros
          tincidunt sit amet.</p>
        <p>Nunc molestie leo non cursus volutpat. Nam aliquam volutpat finibus. Cras rhoncus nec nisl sit
          amet pretium. Nullam scelerisque neque urna. Nam eget volutpat augue, eget lobortis enim. Proin
          hendrerit eu risus sed tempus. Nunc non lacinia sem, nec suscipit arcu. Praesent rutrum urna ut
          justo ornare, ac blandit erat fermentum. Duis sed leo augue. Etiam euismod aliquet eros eu
          gravida.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum metus faucibus lectus
          pharetra dapibus. Suspendisse potenti. Aenean aliquam elementum mi, ac euismod augue. Donec eget
          lacinia ex. Phasellus imperdiet porta orci eget mollis. Sed convallis sollicitudin mauris ac
          tincidunt. Donec bibendum, nulla eget bibendum consectetur, sem nisi aliquam leo, ut pulvinar
          quam nunc eu augue.</p>
        <p>Morbi porttitor auctor enim, sit amet sagittis odio suscipit eu. Vestibulum rutrum mollis dolor,
          non tristique lacus luctus ac. Integer in ipsum eget nisl pellentesque imperdiet ac vel sapien.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In
          mi dui, sagittis in erat id, rutrum efficitur nisi. Fusce varius risus enim, vitae accumsan eros
          tincidunt sit amet.</p>
      </section>
      <section id="section4" data-nav="Maybe later" class="main__section --section__4">
        <h2 class="section__heading">Maybe later?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum metus faucibus lectus
          pharetra dapibus. Suspendisse potenti. Aenean aliquam elementum mi, ac euismod augue. Donec eget
          lacinia ex. Phasellus imperdiet porta orci eget mollis. Sed convallis sollicitudin mauris ac
          tincidunt. Donec bibendum, nulla eget bibendum consectetur, sem nisi aliquam leo, ut pulvinar
          quam nunc eu augue.</p>
        <p>Morbi porttitor auctor enim, sit amet sagittis odio suscipit eu. Vestibulum rutrum mollis dolor,
          non tristique lacus luctus ac. Integer in ipsum eget nisl pellentesque imperdiet ac vel sapien.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In
          mi dui, sagittis in erat id, rutrum efficitur nisi. Fusce varius risus enim, vitae accumsan eros
          tincidunt sit amet.</p>
        <p>Nunc molestie leo non cursus volutpat. Nam aliquam volutpat finibus. Cras rhoncus nec nisl sit
          amet pretium. Nullam scelerisque neque urna. Nam eget volutpat augue, eget lobortis enim. Proin
          hendrerit eu risus sed tempus. Nunc non lacinia sem, nec suscipit arcu. Praesent rutrum urna ut
          justo ornare, ac blandit erat fermentum. Duis sed leo augue. Etiam euismod aliquet eros eu
          gravida.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum metus faucibus lectus
          pharetra dapibus. Suspendisse potenti. Aenean aliquam elementum mi, ac euismod augue. Donec eget
          lacinia ex. Phasellus imperdiet porta orci eget mollis. Sed convallis sollicitudin mauris ac
          tincidunt. Donec bibendum, nulla eget bibendum consectetur, sem nisi aliquam leo, ut pulvinar
          quam nunc eu augue.</p>
        <p>Morbi porttitor auctor enim, sit amet sagittis odio suscipit eu. Vestibulum rutrum mollis dolor,
          non tristique lacus luctus ac. Integer in ipsum eget nisl pellentesque imperdiet ac vel sapien.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In
          mi dui, sagittis in erat id, rutrum efficitur nisi.</p>
        <button type="button" class="button">Let's keep
          talking</button>
      </section>
    </main>
    <footer class="footer">
      <h1 class="footer__heading">Add me!</h1>
      <p class="footer__social-media"><a aria-label="Add me on GitHub" href="https://github.com/bruno-gurgel"
          class="footer__contact">Github</a></p>
      <p class="footer__social-media"><a aria-label="Add me on Linkedin"
          href="https://www.linkedin.com/in/bruno-gurgel/" class="footer__contact">Linkedin</a>
      </p>
    </footer>
  </div>
</body>

</html>