/* Desktop layout */
@media (min-width: 901px) {
  /* Home page */
  .grid-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    grid-template-areas:
      'hd hd hd'
      'feat feat feat'
      'main main main'
      'ft ft ft';
  }

  .nav-top {
    padding: 0px;
  }

  .menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .link-nav {
    padding: 0px;
    display: inline-block;
    font-size: 1.5rem;
  }

  .item {
    padding: 0px;
  }

  .featured-post {
    grid-area: feat;
    padding: 0 20px;
    border-bottom: 2px dotted #ffffff;
    font-size: 2.5rem;
  }

  .feat-post-link {
    text-decoration: none;
    color: #ffffff;
  }

  .hd-feat-post {
    color: #dcbff3;
    padding-top: 0px;
  }

  .txt-feat-post {
    font-size: 1.5rem;
    padding-top: 0px;
  }

  .main-home {
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin: 30px 20px;
  }

  .article-card {
    width: 30%;
  }

  /* About page */
  .grid-container-about {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-template-areas:
      'hd'
      'main'
      'ft';
  }

  /* Blog post page */
  .grid-container-post {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    grid-template-areas:
      'hd   hd   hd'
      'main main main'
      'ft   ft   ft';
    gap: 20px;
  }

  .nested-grid {
    grid-area: main;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: min-content;
    grid-template-areas: 'article aside';
    gap: 5px;
    color: #ffffff;
    margin: 0 15px;
  }

  .blog-article {
    grid-area: article;
    height: 100%;
    width: 100%;
    text-align: justify;
  }

  .blog-aside {
    grid-area: aside;
    height: 100%;
    width: 100%;
    border-left: 2px inset #ffffff;
  }
}
