/* Universal code */
body {
  font-family: 'Indie Flower', cursive;
  font-size: 16px;
  background-color: #1f2932;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.--focus:focus {
  background: #ff6666;
  text-decoration: underline;
}

.skip-link {
  top: -50px;
  position: absolute;
  background-color: #ff0000;
  left: 0px;
  color: #ffffff;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.header {
  background: #11161a;
  padding: 0 15px;
  grid-area: hd;
  box-sizing: border-box;
}

.header__link {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 2px;
  width: 100%;
  display: block;
  padding: 15px 5px;
  font-weight: bold;
}

.header__link:hover {
  color: #ccc;
}

.header__item {
  padding: 0px 10px;
}

.featured-post {
  background-image: url('../../img/blog/feat-post-img.png');
  background-size: contain;
}

.footer {
  grid-area: ft;
  background-color: #2e3d49;
  text-align: center;
  color: #ffffff;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

.footer__subscribe {
  text-align: center;
}

.footer__label-email {
  letter-spacing: 0px;
}

/* Home page */
.featured-post__figcaption {
  font-size: 1rem;
  float: right;
}

.main__article-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  transition: 0.3s;
  background-color: #c8cdd2;
  text-align: center;
  margin: 20px 0;
}

.main__article-img {
  width: 100%;
  border-radius: 25px;
}

.main__article-link {
  text-decoration: none;
}

.main__article-title {
  color: #34383c;
}

.main__article-description {
  color: #242a2f;
}

/* 'About' page */
.main--about {
  display: inline-block;
  color: #b4b9bd;
  margin: 0 10px;
  text-align: center;
}

.main--about__heading {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
}

.main--about__list {
  display: inline-block;
}

.main--about__link {
  color: #53cbed;
}

/* Blog post page */
.heading {
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  color: #dcbff3;
  font-weight: bold;
}

.month-list {
  list-style-type: upper-roman;
}

.month {
  color: #ffffff;
}

.author-post {
  padding: 0px;
  border-bottom: 2px dotted #ffffff;
  margin-left: 5px;
}

.avatar-img--webp,
.avatar-img--fallback {
  width: 10%;
  border-radius: 50%;
  margin: 0px;
  padding: 0px;
}

.author-info {
  margin: 0px;
  padding: 0px;
  color: #b4b9bd;
}

.author-description {
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  color: #b4b9bd;
}

.rel-post-link {
  color: #ffffff;
}

.social-media {
  border-top: 2px inset #ffffff;
  border-bottom: 2px inset #ffffff;
}

.little-heading {
  text-align: center;
  color: #dcbff3;
  text-decoration: underline;
  font-weight: bold;
}

.social-list {
  list-style-type: square;
}

.social-items {
  text-decoration: none;
  color: #ffffff;
}
