<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Personal Blog Website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <a href="#main-content" class="skip-link">Skip to main content</a>
  <div class="grid-container-about">
    <header class="nav-top">
      <ul class="menu">
        <li class="logo">Blog Template</li>
        <li class="item home-link"><a href="blog.html" class="link-nav focus">Home</a></li>
        <li class="item"><a href="about.html" class="link-nav focus">About</a></li>
      </ul>
    </header>
    <main class="about-main">
      <h1 class="hdn-center" id="main-content" tabindex="-1">README</h1>
      <h2>Personal Blog Website - Udacity</h2>
      <p><u>Project of the Nanodegree Course 'Front End Web Development'.</u></p>
      <h3 class="hdn-center">Details</h3>
      <h4 class="hdn-center">Content</h4>
      <h5>HTML</h5>
      <p>The blog has 3 HTML pages:</p>
      <ol class="about-ls">
        <li>Home page (index.html);</li>
        <li>Home page (index.html);</li>
        <li>Home page (index.html);</li>
      </ol>
      <h5>CSS</h5>
      <p>I used 1 main file (style.css) and imported other 3 files with the changes for media versions (mobile,
        tablet and desktop).
        On the main CSS file is the code that is the same for every page.</p>
      <h5>Java Script</h5>
      <p>I have not used JS in this website because of the purpose of the project</p>
      <h4 class="hdn-center"> Responsiveness</h4>
      <!--CHANGE COLOR OF LINKS-->
      <p>I used the viewport meta tag - <a
          href="https://developer.mozilla.org/en-US/docs/Mozilla/Mobile/Viewport_meta_tag" class="about-link"
          aria-label="More information about viewport meta tag">More information here</a></p>
      <p>Aaand the @media queries - <a href="https://www.w3schools.com/css/css_rwd_mediaqueries.aspg" class="about-link"
          aria-label="More information about media queries">More information here</a></p>
      <h3 class="hdn-center">Contribution</h3>
      <p><b>Since I am learning Front end Web Development, any tips or suggestions are greatly appreciated.</b>
      </p>
    </main>
    <footer class="footer">
      <h1>Contact</h1>
      <form class="newsletter" method="POST">
        <h2 aria-owns="label-email text" class="subscribe-ft">Subscribe to our newsletter</h2>
        <label class="label-email" for="text">Enter your email:</label>
        <input type="email" id="text" name="E-mail" class="focus">
        <input type="submit" id="send" aria-label="Submit" value="Submit" class="focus">
      </form>
    </footer>
  </div>
</body>

</html>