// Variables
$font: 'Dosis', sans-serif;
$primary-color: hsl(13, 100%, 98%);

body {
  font-size: 16px;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
  color: $primary-color;
  font-family: $font;
}

.nav {
  font-size: 1.5rem;
  .nav__list {
    list-style-type: none;
    .nav__item {
      text-decoration: none;
      color: $primary-color;
      text-decoration: underline;
    }
  }
}

.banner {
  text-align: center;
  .banner__heading {
    color: $primary-color;
    font-size: 2.5rem;
    padding: 5px;
    .banner__underlined {
      text-decoration: underline;
      text-decoration-color: hsl(0, 100%, 50%);
      display: table;
      margin: 0 auto;
    }
    .banner__passionate {
      color: hsl(0, 100%, 50%);
      display: table;
      margin: 0 auto;
      font-size: 3rem;
    }
  }
  .banner__intro {
    font-size: 1.7rem;
    margin-top: 50px;
    margin-bottom: 2px;
    text-decoration: underline;
    color: $primary-color;
  }
}

.projects__figure {
  text-align: center;
  padding: 10px;
  .projects__heading {
    color: hsl(210, 7%, 22%);
    font-size: 1.5rem;
  }

  .projects__text {
    color: hsl(207, 13%, 16%);
  }
  .languages__text {
    color: $primary-color;
  }
  .projects__link {
    text-decoration: none;
  }
  .projects__heading {
    font-size: 2rem;
  }
  .projects__text {
    font-size: 1.2rem;
  }
  .projects__link {
    font-size: 1rem;
  }
}

.footer {
  text-align: center;
  .footer__heading {
    font-size: 2rem;
    text-decoration: underline;
    margin: 0 0 10px 0;
  }
  .footer__link {
    color: $primary-color;
    font-size: 1.5rem;
  }
  .footer__email {
    color: $primary-color;
  }
}
