.skip__link {
  top: -50px;
  position: absolute;
  background-color: hsl(0, 100%, 50%);
  left: 0px;
  color: hsl(0, 0%, 100%);
  padding: 8px;
  z-index: 100;
  &:focus {
    top: 0;
  }
}

.projects__image {
  display: block;
  width: 100%;
}

.projects__repo {
  background-color: hsl(189, 75%, 75%);
  margin: 0px auto;
  width: 35%;
  height: 25px;
  cursor: pointer;
  display: block;
  font-weight: 400;
  color: #000000;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
    background-color: hsl(180, 66%, 63%);
  }
}

.button {
  text-decoration: none;
  padding: 5px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: 1px inset hsl(0, 0%, 0%);
  border-radius: 25%;
  &:focus {
    background-color: hsl(0, 100%, 70%);
  }
}

.projects__button {
  display: block;
  width: 60%;
  height: 30px;
  margin: 10px auto;
  background-color: hsl(245, 39%, 28%);
  color: $primary-color;
  cursor: pointer;
  font-weight: bold;
  font-family: $font;
  font-size: 1.2rem;
  &:hover {
    background-color: hsl(272, 63%, 46%);
    text-decoration: underline;
  }
}
