<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
</head>

<body>
  <nav class="nav">
    <ul class="nav__list">
      <li class="--home"><a href="index.html" class="nav__item">Home</a></li>
      <li class="--about"><a href="./about.html" class="nav__item --about">About</a></li>
    </ul>
  </nav>
  <main>
    <h1 class="about__heading">About me</h1>
    <p class="about__text">Hello! My name is <span class="about__name">Bruno</span>, I'm from
      Brazil and I am a Front end Web
      Developer.
    </p>
    <p class="about__text">It took me a long time and some deviations to get here. I am a Law graduate, but by the end
      of
      the University, I already knew that I was not going to follow that path. So, when I finished it I decided to study
      business and got an MBA in it.</p>
    <p class="about__text">But again, I didn't feel in love. I liked it and I know that I will use a lot of things I
      learned there. But since it is a technology-oriented college, I started to see some devs working, and immediately
      I loved that.</p>
    <p class="about__text">Now, almost a year after I started learning to program, I am 100% confident that I made the
      right choice. I know that I have a long path to go, but I know that I found the thing that I want to do every day,
      and if I train, study and keep up myself updated on new technologies, I will achieve my goals.</p>
    <p class="about__text">This portfolio is all about that. I want to put my projects here and to use this as a
      playground to test new technologies and skills I learn. So don't expect this site to stay the same for a long
      time.</p>
    <p class="about__text">Below, there is my social media and my e-mail. If you have any tips/suggestions I would
      love to hear them, so don't hesitate in contacting me.</p>
    <p class="about__text"><span class="about__welcome">Welcome!</span></p>
  </main>
  <footer class="footer">
    <p><a aria-label="Add me on GitHub" href="https://github.com/bruno-gurgel" class="footer__link"
        target="_blank">Github</a></p>
    <p><a aria-label="Add me on Linkedin" href="https://www.linkedin.com/in/bruno-gurgel/" class="footer__link"
        target="_blank">Linkedin</a></p>
    <p><a href="mailto:bmg1612@gmail.com" class="footer__email footer__link">E-mail: bmg1612@gmail.com</a></p>
  </footer>
</body>

</html>