// Variables
$font: 'Dosis', sans-serif;
$primary-color: #ffe9e3;

body {
  font-size: 16px;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
  color: $primary-color;
  font-family: $font;
}

.nav {
  font-size: 1.5rem;
  .nav__list {
    list-style-type: none;
    .nav__item {
      text-decoration: none;
      color: $primary-color;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.banner {
  text-align: center;
  .banner__heading {
    color: #90e0ef;
    font-size: 2rem;
    .banner__underlined {
      text-decoration: underline;
      text-decoration-color: #ff0000;
    }
    .banner__passionate {
      color: #ff0000;
    }
  }
  .banner__intro {
    font-size: 1.7rem;
    margin-top: 50px;
    margin-bottom: 2px;
    text-decoration: underline;
    color: #90e0ef;
  }
}

.projects__figure {
  text-align: center;
  .projects__heading {
    color: #34383c;
  }

  .projects__text {
    color: #242a2f;
  }
  .projects__link {
    text-decoration: none;
  }
  &:hover {
    background-color: orange;
    .projects__image {
      display: none;
    }
    .projects__heading {
      font-size: 2rem;
    }
    .projects__text {
      font-size: 1.2rem;
    }
    .projects__link {
      font-size: 1rem;
    }
  }
}

.footer {
  text-align: center;
  .footer__heading {
    font-size: 2rem;
    text-decoration: underline;
    margin: 0 0 10px 0;
  }
  .footer__link {
    color: $primary-color;
    font-size: 1.5rem;
  }
}
