// Variables
// $primary-font: "Open Sans Condensed", sans-serif;
// $heading-font: "Pacifico", cursive;
$primary-color: #ffe9e3;

body {
  font-size: 16px;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
  color: $primary-color;
}

.nav {
  font-size: 1.5rem;
  .nav__list {
    list-style-type: none;
    .nav__item {
      text-decoration: none;
      color: $primary-color;
    }
  }
}

.projects__figure {
  text-align: center;
  .projects__heading {
    color: #34383c;
  }

  .projects__text {
    color: #242a2f;
  }
  .projects__link {
    text-decoration: none;
  }
  &:hover {
    background-color: orange;
    .projects__image {
      display: none;
    }
    .projects__heading {
      font-size: 2rem;
    }
    .projects__text {
      font-size: 1.2rem;
    }
    .projects__link {
      font-size: 1rem;
    }
  }
}

.footer {
  text-align: center;
  .footer__heading {
    // font-family: $heading-font;
    font-size: 2rem;
    text-decoration: underline;
    margin: 0 0 10px 0;
  }
  .footer__link {
    color: $primary-color;
    font-size: 1.5rem;
  }
}
