// Variables
// $primary-font: "Open Sans Condensed", sans-serif;
// $heading-font: "Pacifico", cursive;
$primary-color: #ffe9e3;

body {
  font-size: 16px;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
  color: $primary-color;
  .skip__link {
    top: -50px;
    position: absolute;
    background-color: #ff0000;
    left: 0px;
    color: #ffffff;
    padding: 8px;
    z-index: 100;
  }

  .skip__link:focus {
    top: 0;
  }
}

.nav {
  font-size: 1.5rem;
}

a {
  color: $primary-color;
}

.footer {
  h2 {
    // font-family: $heading-font;
    font-size: 2rem;
    text-decoration: underline;
    margin: 0 0 10px 0;
  }
  a {
    color: $primary-color;
    font-size: 1.5rem;
  }
}
