.skip__link {
  top: -50px;
  position: absolute;
  background-color: #ff0000;
  left: 0px;
  color: #ffffff;
  padding: 8px;
  z-index: 100;
  &:focus {
    top: 0;
  }
}

.projects__image {
  display: block;
  width: 100%;
}

.projects__repo {
  background-color: #90e0ef;
  margin: 0px auto;
  width: 35%;
  height: 25px;
  cursor: pointer;
  display: block;
  font-weight: 400;
  color: #000000;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
    background-color: #64dfdf;
  }
}

.button {
  text-decoration: none;
  padding: 5px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: 1px inset #000000;
  border-radius: 25%;
}

.projects__button {
  display: block;
  width: 60%;
  height: 30px;
  margin: 10px auto;
  background-color: #302b63;
  color: $primary-color;
  cursor: pointer;
  font-weight: bold;
  font-family: $font;
  font-size: 1.2rem;
  &:hover {
    background-color: #7b2cbf;
    text-decoration: underline;
  }
}
