body {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-template-areas:
    'nav'
    'main'
    'footer';
}

.nav {
  grid-area: nav;
  border-bottom: 2px dotted #ffef96;
  .nav__list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 5px;
    margin: 5px 0px;
    padding: 0px;
  }
}

.main {
  grid-area: main;
  display: flex;
  flex-flow: column nowrap;
}

.projects {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 10px;
  .projects__figure {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20%;
    transition: 0.3s;
    background-color: #c8cdd2;
    margin: 20px 0;
    width: 80%;
    overflow: hidden;
    .figcaption {
      display: none;
    }
    &:hover {
      transition: all 1s ease;
      .projects__image {
        display: none;
      }
      .figcaption {
        display: block;
      }
      &.--travel {
        background-color: #ff7b25;
      }
      &.--npl {
        background-color: #e6e2d3;
      }
      &.--weather {
        background-color: #ffcc5c;
      }
      &.--landing {
        background-color: #eea29a;
      }
      &.--blog {
        background-color: #e0e2e4;
      }
    }
  }
}

.footer {
  grid-area: footer;
  border-top: 2px dotted #ffef96;
}
