.footer {
  text-align: center;
  border-top: 2px dotted #000000;
  .footer__heading {
    font-size: 2rem;
  }
  .footer__item {
    font-size: 1.5rem;
    margin: 10px 0;
    .footer__link {
      color: #000000;
    }
  }
}
