.form {
  border: 1px solid #000000;
  border-radius: 10%;
  padding: 40px 15px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  .input__text {
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    margin-bottom: 20px;
    font-size: 1rem;
    &::placeholder {
      text-align: center;
      font-size: 1.2rem;
    }
  }

  .input__button {
    width: 40%;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
    background-color: #014943;
    color: #e1f9f7;
    font-size: 1.2rem;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      background-color: #018377;
    }
  }
}

.results__heading {
  text-align: center;
  text-decoration: underline;
}

.results__list {
  padding-right: 20px;
  .results__item {
    list-style-type: square;
    margin-bottom: 10px;
    text-align: left;
    .api__title {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}
