.nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 10px;
  padding: 0px;
  .home__link {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
    border-radius: 25px;
    padding: 5px;
    border-bottom: 2px inset #000000;
    margin-bottom: 20px;
  }

  .home__link:hover {
    background-color: #ffff3f;
  }
}

.form__heading {
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
}
