<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NPL Tool</title>
</head>

<body>
  <div class="grid">
    <nav class="nav">
      <p><a href="index.html" class="home__link">Return to Website</a></p>
    </nav>

    <main class="main">
      <div class="main__form">
        <h1 class="form__heading">Natural Language Processing Web Tool</h1>
        <form class="form">
          <input class="input__text" id="name" type="text" name="input" placeholder="Put the URL here">
          <input class="input__button" type="submit" id="submit" name="submit" value="Submit">
        </form>
      </div>
      <div class="main__results">
        <h2 class="results__heading">Form Results:</h2>
        <div class="loader"></div>
        <div id="error" class="main__error"></div>
        <ul class="results__list" id="results"></ul>
      </div>
    </main>

    <footer class="footer">
      <h2 class="footer__heading">Add me!</h2>
      <p class="footer__item"><a class="footer__link" aria-label="Add me on GitHub"
          href="https://github.com/bruno-gurgel">Github</a></p>
      <p class="footer__item"><a class="footer__link" aria-label="Add me on Linkedin"
          href="https://www.linkedin.com/in/bruno-gurgel/">Linkedin</a>
      </p>
    </footer>
  </div>
</body>

</html>