<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NPL Tool</title>
</head>

<body>
  <div class="grid__container">
    <header>
      <nav>
        <a href="index.html" class="home__link">Return to Website</a>
      </nav>
    </header>

    <main>
      <div class="main__top">
        <h1 class="heading__top">Natural Language Processing Web Tool</h1>
        <form class="page__form">
          <input class="input__text" id="name" type="text" name="input" placeholder="Put the URL here">
          <input class="input__button" type="submit" id="submit" name="submit" value="Submit">
        </form>
      </div>
      <div class="main__bottom">
        <h2 class="heading__bottom">Form Results:</h2>
        <ul class="results__list" id="results"></ul>
      </div>
    </main>

    <footer>
      <h2>Add me!</h2>
      <p><a aria-label="Add me on GitHub" href="https://github.com/bruno-gurgel">Github</a></p>
      <p><a aria-label="Add me on Linkedin" href="https://www.linkedin.com/in/bruno-gurgel/">Linkedin</a>
      </p>
    </footer>
  </div>
</body>

</html>